 html{
    height:auto;
} 

body{
    height:auto;
    margin: 0px;
    
}

#wrapper{
    position:relative;
    height: auto;

}
#header{
    width:100%; height:10%;
    text-align: center;
    /*background-color: #B7F0B1;*/
}


#contents{/* 아이디~문의*/
    width:100%;
    text-align: center;
    /*background-color: #D4F4FA;*/
}


footer {
    width: 100%;
    height: 50px; /* footer의 높이 */
    position: absolute;
    /* bottom: 0;
    left: 0; 위치 조정 주석 처리*/
    background-color: #606060;
  }


#fmenu ul li {
  list-style: none;
  color : white;
  background-color : #606060;
  float : left;
  line-height: 25px;
  vertical-align: middle;
  text-align: center;
}

#fmenu .menulink {
text-decoration:none;
color: white;
display: block;
width: 150px;
font-size: 12px;
font-weight: bold;
}


h3{ /*h3글씨*/
    color:#003497;
    margin-block-start: 1em;
    margin-inline-end: 1em;
    margin-right: 510px;
}



hr{
    width:30%  
}



.id{/*아이디 */
    display: inline;
    width: 25%;
    height: 50px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom:1px soild #003497;
    box-sizing: border-0ox;
    font-size: 15px;
    margin-left:80px;
}

.password{/*비밀번호 */
    display: inline;
    width: 30%;
    height: 50px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px soild #003497;
    box-sizing: border-box;
    font-size: 15px;
    margin:auto;
}


.name{/*이름입력*/
    display: inline;
    width: 30%;
    height: 50px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px soild #003497;
    box-sizing: border-box;
    font-size: 15px;
    margin:auto;
}


.classnumber{/*학번*/
    display: inline;
    width: 30%;
    height: 50px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px soild #003497;
    box-sizing: border-box;
    font-size: 15px;
    margin:auto;
}


.birthyear{/*생년월일 */
    display: inline;
    width: 30%;
    height: 50px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px soild #003497;
    box-sizing: border-box;
    font-size: 15px;
    margin:auto;
}


.major_select {/*학과.학년 */
    display: inline;
    width: 15%;
    height: 50px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px soild #003497;
    /* box-sizing: border-box; */
    font-size: 15px;
    margin:auto;
}





.gender{/*생년월일*/
    display: inline;
    width: 24%;
    height: 50px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px soild #003497;
    box-sizing: border-box;
    font-size: 15px;
    margin-left:50px;
}


.gender_box{/*성별체크*/
    border-radius: 50px;
}




.year_day{/*생년월일 */
    display: inline;
    width: 10%;
    height: 50px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px soild #003497;
    box-sizing: border-box;
    font-size: 15px;
    margin:auto;

}

.month{/*월 */
    display: inline;
    width: 10%;
    height: 50px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px soild #003497;
    box-sizing: border-box;
    font-size: 15px;
    margin:auto;

}

.mail{/*이메일 입력 */
    display: inline;
    width: 12.5%;
    height: 50px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px soild #003497;
    box-sizing: border-box;
    font-size: 15px;
    margin:auto;
}

.mail_select{/*이메일 선택 */
    display: inline;
    width: 11%;
    height: 50px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px soild #003497;
    box-sizing: border-box;
    font-size: 15px;
    margin:auto;
}



.verification_code{/*인증번호 */
    display: inline;
    width: 25%;
    height: 50px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px soild #003497;
    box-sizing: border-box;
    font-size: 15px;
    margin:auto;
}



.all_button{/*인증 버튼(박스선 유무, 배경색)*/
    border-top:none;
    border-right:none;
    border-left:none;
    border-bottom:none;
    background-color: #FFFFFF;

}


.join{/*가입버튼*/
    margin:auto;
    margin-top:50px;
    margin-bottom: 0px;
    border-top:none;
    border-right:none;
    border-left:none;
    border-bottom:none;
    background-color: #FFFFFF;
}
